html {
    background-color: #E5EBFC;
    padding: 35px;
} body {
    background-color: #fff;
    color: #404040;
    border: 1px solid #B8C9F9;
    margin: 0px;
} #container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
} header {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #666;
    text-align: center;
} header a, nav a, footer a, main a {
    text-decoration: none;
} header a:link, nav a:link, main a:link {
    color: #666;
} header a:hover, nav a:hover, footer a:hover, main a:hover {
    color: #5476DD;
} header a:visited, nav a:visited, footer a:visited {
    color: #666;
} header a:active, nav a:active, footer a:active {
    color: #40c9a2;
} header ul {
    list-style-type: none;
    padding-top: 0px;
    margin: 0px;
} nav {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 10px;
    border-style: double none double none;
    border-width: 4px 0px 4px 0px;
    border-color: #e1e1e1;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
} main {
    display: block;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 0px;
    background-color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
} footer {
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    color: #c0c0c0;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-left: 55px;
    padding-bottom: 50px;
    background-color: #666;
    clear: both;
} footer a {
    color: #e0e0e0;
} footer a:hover {
    color: white;
} footer hr {
    margin-right: 50px;
    border: 0.5px solid #858585;
} a {
    transition: 0.3s;
} #main_content hr {
    border-top: 0.5px solid #aaa;
    opacity: 0.5;
} form p label {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
} form p label span {
    color: #aaa;
    font-weight: normal;
} form input, form textarea, form select {
    background-color: #f6f6f6;
    border-color: #ccc;
    color: #666;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
} .submit {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #5476DD;
    font-weight: normal;
    border-radius: 0px;
    padding: 14px 32px;
    border-style: none;
    transition-duration: 0.4s;
} .submit:hover {
    background-color: #444;
} fieldset {
    border-style: solid;
}

/* CSS for the main content & blog posts */

main:before, main:after {
    content: "";
    display: table;
} main:after {
    clear: both;
} main {
    clear: both;
} #main_content {
    width: 63%;
    float: left;
    border: none;
    margin-bottom: 50px;
}

/* CSS for the sidebar */

#side_content {
    width: 30%;
    float: right;
}

/* CSS for responsive web design and fluid layouts */
header img {
    max-width: 100%;
}

/* Styles for Mobile Layout */
@media screen and (max-width: 600px) {
    #container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    } header {
        margin-top: 0.2em;
        background: white;
        text-align: center;
    } nav {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25em;
        font-weight: bold;
        text-align: center;
    } nav ul {
        padding: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    } nav li {
        background-color: #E5EBFC;
        list-style-type: none;
        border-radius: 2em;
        margin: 0.3em;
        padding: 0.4em;
    } nav li a {
        color: #666;
        text-decoration: none;
    } .mobile {
        display: inline;
    } .desktop {
        display: none;
    } main {
        display: block;
        font-family: 'Karla', sans-serif;
        font-size: 1em;
        padding: 1em;
        background-color: white;
    } footer {
        font-size: .70em;
        text-align: center;
        margin-top: 2em;
    }
    /* Styling forms for mobile */
    form {
        margin: 0 auto;
    }
} @media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
}